{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}Formulário de Recuperação de Senha{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-4 mt-4">Recuperar Senha</h1>
            <p>Esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma
                nova.</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ form.email.errors }}
                        <label for="id_email">{% translate 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
                    <input type="submit" value="{% translate 'Reset my password' %}">
                </fieldset>
            </form>
        </div>
    </div>
</div>


{% endblock %}
