{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Advanced Python Course with Luciano Ramalho
                </h2>
                <h4 class="mt-4">OPEN ENROLLMENT - Cost: R$ 1000,00</h4>
                <!-- INICIO DO BOTAO PAGSEGURO --><a href="https://pag.ae/7YxqZcTQt/button" target="_blank"
                                                     title="Pagar com PagSeguro"><img
                    src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                    alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a><!-- FIM DO BOTAO PAGSEGURO -->

                <!--                <h4 class="mt-4">Subscribe and Enter the Wait List for the Python Pro Course</h4>-->

                <!--                <form action="https://herokuapp.us12.list-manage.com/subscribe/post?u=ad5fa953bba777e89a2e88373&amp;id=e0e086cf83&amp;f_id=0052ace0f0"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="form-row align-items-center" target="_blank" novalidate>-->
                <!--                    <div class="row gy-2 gx-3 align-items-center">-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="visually-hidden" for="mce-EMAIL">Email</label>-->
                <!--                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"-->
                <!--                                   placeholder="exemplo@email.com">-->
                <!--                        </div>-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="visually-hidden" for="mce-FNAME">Email</label>-->
                <!--                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Your Name">-->
                <!--                        </div>-->

                <!--                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"-->
                <!--                                                                                                  name="b_ad5fa953bba777e89a2e88373_e0e086cf83"-->
                <!--                                                                                                  tabindex="-1"-->
                <!--                                                                                                  value="">-->
                <!--                        </div>-->

                <!--                        <div class="col-auto">-->
                <!--                            <input type="submit" value="Subscribe" name="subscribe"-->
                <!--                                   id="mc-embedded-subscribe"-->
                <!--                                   class="btn btn-primary">-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            More details about the instructor
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/luciano-ramalho.png' %}" alt="Luciano Ramalho's Photo"
                                     class="img-thumbnail float-start me-3"/>
                                Ramalho is a business partner and a professor at <a href="https://www.python.pro.br">Python
                                Pro</a>. He
                                is also, the author of the book <a
                                    href="https://www.oreilly.com/library/view/fluent-python-2nd/9781492056348/"
                                    target="_blank">Fluent
                                Python</a>. He was technical director of "Brasil Online", first Abril S/A's web portal.
                                He has led teams for portals IDG Now, BOL, UOL, AOL Brasil and others, using Python
                                since 1998. As an instructor, he has served clients such as Citibank, CPqD, Serpro,
                                Presidency of the Republic, Globo.com and Itaú. He is a speaker at international events
                                such as FISL, PyCon US and OSCON. He helped create the Python Brasil Association and was
                                its president. He is a member of the Python Software Foundation and founder of Garoa
                                Hacker Clube, the first hackerspace in Brazil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}